# Workflow simples para fazer deploy de conteúdo estático para o GitHub Pages
name: Deploy static content to Pages

on:
  # Roda em pushes para a branch principal
  push:
    branches: ["main"] # Mude para 'master' se sua branch principal for 'master'

  # Permite que você rode esse workflow manualmente pela aba Actions
  workflow_dispatch:

# Define permissões do GITHUB_TOKEN para permitir o deploy no GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Permite apenas um deploy concorrente
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  # Job único de deploy
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20 # Usando Node 20
      - name: Install dependencies
        run: npm install
      - name: Build
        run: npm run build
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # Envia o diretório 'dist' (resultado do 'npm run build')
          path: './dist'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
